{% extends 'base.html.twig' %}

{# style #}
  {% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
  {% endblock %}

{# body #}
  {% block body %}
    {# root #}
      <div id="react-root"></div>
  {% endblock %}

{# js #}
  {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
  {% endblock %}
